/* styles.css */

#scrollToTopBtn {
    display: none; /* 初始状态隐藏 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#scrollToTopBtn:hover {
    background-color: #333333;
}

h1 {
    color: #fffdfe;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}
h2 {
    color: #c6500b;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #070707;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20%;
    width: auto;
}

.card {
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.card-video {
    margin-top: 20px;
}
video {
    width: 100%;
    height: auto;
}
body {
    background-color: #e3d6d6;
    color: #121111;
    font-family: Arial, sans-serif; /* 字体 */
    font-size: 16px;
    line-height: 1.5;
}
.box {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    margin: 60px 0px 40px 0px;
}
.content {
    height: 100px;
    width: 19%;
    border-radius: 10px;
    background-color: #fbf7f7;
    border: 1px solid #867f86;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 3px;
    box-shadow: -5px 5px 5px #80808080;
}

#top_container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: left;
    background-color: #e3d6d6;
    color: #ece4e4;
    padding: 0 20px;
    height: 100px;
}
h1#top_title {
    font-size: 40px;
    margin: 0px auto;
    width: 50%;
    text-align: center;
    text-shadow: 1px -1px #fff, -1px 1px #999, -10px 10px 10px #80808080;
}
.card-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card-image:hover {
    transform: scale(1.2);
}
#card-image-1 {
    width: auto;
    height: 100%;
    position: relative;
    left: -55px;
}
.card-text {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-link {
    font-size: 16px;
    color: #f10c77;
    text-decoration: none;
}
.card-link:hover {
    text-decoration: underline;
}
.card-link:active {
    color: #f10c77;
}
.card-link:visited {
    color: #f10c77;
}
.card-link:focus {
    color: #f10c77;
}
.card-link:hover {
    color: #f10c77;
}
.card-link:active {
    color: #f10c77;
}
#top_nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    color: #fff;
    padding: 0 20px;
}
.top_nav_item {
    list-style: none;
    margin: 0 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.top_nav_item:hover {
    color: #0c0c0c;
}
.top_nav_item:active {
    color: #f10c77;
}